
    <td class="region">{{region}}</td>
    <td class="environment">
        <div *ngFor="let e of environment">{{e.name}}</div>
    </td>
    <td class="modules">
        <div id="accordion">
            <div (click)="toggleRows0('showServerTable0')">Server</div>
            <div #getST0Height class="content" id="myid" [style.display]="showServerTable0 ? 'block' : 'none'" [style.maxHeight]="showServerTable0 ? getST0Height.scrollHeight + 'px' : '0px'">
            <!-- <div class="content" id="myid" *ngIf="showServerTable0"> -->
                <table class="tableresult" id="tableId" border="2" cellspacing="0" cellpadding="6">
                    <tr>
                        <th>TYPE</th>
                        <th>PROCESSINSTANCE</th>
                        <th>LATEST_RUN</th>
                    </tr>
                    <tr *ngFor="let std of serverTableData0">
                        <td>{{std.type}}</td>
                        <td>{{std.processInstance}}</td>
                        <td>{{std.latestrun}}</td>
                    </tr>
                </table>
            </div>

            <div (click)="toggleRows0('showCoherenceTable0')">Coherence</div>
            <div #getCT0Height class="content" id="myid" [style.display]="showCoherenceTable0 ? 'block' : 'none'" [style.maxHeight]="showCoherenceTable0 ? getCT0Height.scrollHeight + 'px' : '0px'" >
            <!-- <div class="content" id="myid" *ngIf="showCoherenceTable0"> -->
                <table class="tableresult" id="tableId" border="2" cellspacing="0" cellpadding="6">
                    <tr>
                        <th>TYPE</th>
                        <th>PROCESSINSTANCE</th>
                        <th>LATEST_RUN</th>
                    </tr>
                    <tr *ngFor="let ctd of coherenceTableData0">
                        <td>{{ctd.type}}</td>
                        <td>{{ctd.processInstance}}</td>
                        <td>{{ctd.latestrun}}</td>
                    </tr>
                </table>
            </div>

            <div (click)="toggleRows0('showUiTable0')">UI</div>
            <div #getUT0Height class="content" id="myid" [style.display]="showUiTable0 ? 'block' : 'none'" [style.maxHeight]="showUiTable0 ? getUT0Height.scrollHeight + 'px' : '0px'">
            <!-- <div class="content" id="myid" *ngIf="showUiTable0"> -->
                <table class="tableresult" id="tableId" border="2" cellspacing="0" cellpadding="6">
                    <tr>
                        <th>TYPE</th>
                        <th>PROCESSINSTANCE</th>
                        <th>LATEST_RUN</th>
                    </tr>
                    <tr *ngFor="let utd of uiTableData0">
                        <td>{{utd.type}}</td>
                        <td>{{utd.processInstance}}</td>
                        <td>{{utd.latestrun}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="accordion_2">
            <div (click)="toggleRows1('showServerTable1')">Server</div>
            <div #getST1Height class="content" id="myid" [style.display]="showServerTable1 ? 'block' : 'none'" [style.maxHeight]="showServerTable1 ? getST1Height.scrollHeight + 'px' : '0px'">
            <!-- <div class="content" id="myid" *ngIf="showServerTable1"> -->
                <table class="tableresult" id="tableId" border="2" cellspacing="0" cellpadding="6">
                    <tr>
                        <th>TYPE</th>
                        <th>PROCESSINSTANCE</th>
                        <th>LATEST_RUN</th>
                    </tr>
                    <tr *ngFor="let std of serverTableData1">
                        <td>{{std.type}}</td>
                        <td>{{std.processInstance}}</td>
                        <td>{{std.latestrun}}</td>
                    </tr>
                </table>
            </div>

            <div (click)="toggleRows1('showCoherenceTable1')">Coherence</div>
            <div #getCT1Height class="content" id="myid" [style.display]="showCoherenceTable1 ? 'block' : 'none'" [style.maxHeight]="showCoherenceTable1 ? getCT1Height.scrollHeight + 'px' : '0px'">
            <!-- <div class="content" id="myid" *ngIf="showCoherenceTable1"> -->
                <table class="tableresult" id="tableId" border="2" cellspacing="0" cellpadding="6">
                    <tr>
                        <th>TYPE</th>
                        <th>PROCESSINSTANCE</th>
                        <th>LATEST_RUN</th>
                    </tr>
                    <tr *ngFor="let ctd of coherenceTableData1">
                        <td>{{ctd.type}}</td>
                        <td>{{ctd.processInstance}}</td>
                        <td>{{ctd.latestrun}}</td>
                    </tr>
                </table>
            </div>

            <div (click)="toggleRows1('showUiTable1')">UI</div>
            <div #getUT1Height class="content" id="myid" [style.display]="showUiTable1 ? 'block' : 'none'" [style.maxHeight]="showUiTable1 ? getUT1Height.scrollHeight + 'px' : '0px'">
            <!-- <div class="content" id="myid" *ngIf="showUiTable1"> -->
                <table class="tableresult" id="tableId" border="2" cellspacing="0" cellpadding="6">
                    <tr>
                        <th>TYPE</th>
                        <th>PROCESSINSTANCE</th>
                        <th>LATEST_RUN</th>
                    </tr>
                    <tr *ngFor="let utd of uiTableData1">
                        <td>{{utd.type}}</td>
                        <td>{{utd.processInstance}}</td>
                        <td>{{utd.latestrun}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </td>
    <td class="version">
        <div *ngFor="let e of environment">
            <div>{{e.data.Server.version}}</div>
            <div>{{e.data.Coherence.version}}</div>
            <div>{{e.data.UI.version}}</div>
        </div>
    </td>
